* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-size: 22px;
}

.container {
    text-align: center;
    padding: 20px;
    margin: 10% 10% auto;
    background-color: #222222;
    border-radius: 10px;
    border: 3px solid lightgray;
}

.container:hover {
    background-color: lightgray;
}

.logo {}

/* TAILLE D'ELEMENT */
.s64 { width: 64px}
.s256 { width: 256px}