html, body {
    background: #000;
    text-align: center;
}

.rainbow {
    margin: 10% auto;
    background: linear-gradient(-45deg, #0030a1, #F28, #9F2, #F28, #0030a1);
    outline: 3px solid #d1abab;
    height: 600px;
    width: 300px;
}
.rainbow:hover {
    cursor: pointer;
    outline: 3px solid blue;
    border-radius: 50% 50% 50% 50% / 70% 70% 30% 30% ;
}

