* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: darkgreen;
}

.container img {
    width: 256px;

}

.container {
    padding: 0 50%;
    justify-content: center;
    text-align: center;
    width: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}