/*

### elements de l'application
# Page visiteurs
accueil
RGPD
services - restauration, visite guide, visite petit train
animaux - vue global, vue detaillé, et avis.
habitats - vue global, vue detaillé.
ecologies - le fonctionnement de nos energies.
mini-jeu sur les animaux du zoo.

# Pages membres Arcadia
compte employés
dashboard admin

# Fonctionnalité
Systeme de validation des avis
Creer et modifier des comptes.
application de recherche d'animaux par filtre
Billeterie en ligne
Plan du zoo.
droit des membres du zoo de changer horaires, animaux, habitats, et services proposées.
compteur de vues animaux
Serveur de messagerie

--------- infos

# liens - 5
depot Git
Lien de l'application
Gestion de projet
Fichier readme déployer l'application en local
Documentation du projet en PDF

*/

/* PROPRIÉTÉS GENERALES */
* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box;*/
    font-family: "p_defaut";
    color: #e6e49f;
    text-shadow: #000 1px 1px 10px;
    cursor: url("../../mouse_01.png"), auto;
}
a:hover img:hover {
    cursor: url("../../mouse_02.png"), auto;
}
html {
    scroll-behavior: smooth;
    background: black;
    overflow: auto;}
.h1 {
    padding: 3% 1%;
    font-size: 46px;
}
.degrad {
    background: linear-gradient(45deg, #989c94, #FFF0);
}

/* TEST */
/*
.test {
    font-family: 'p_jeu', cursive;
    position: sticky;
    top: 80%;
    z-index: 1;
    font-size: 50px;
}
 */


/* NAVBAR */
.navbar {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    background-color: #9aa082;
    background: linear-gradient(45deg, #989c94, #FFF0);
}
.navbar_right {
    align-items: center;
    display: flex;
}
.navbar-brand {
    color: white;
    font-weight: bold;
}

@keyframes anim-burger {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 720deg;
    }
}
.anim-burger:hover {
    animation-name: anim-burger;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes anim-cat {
    from {
        transform: translate(-500px);
    }
    to {
        transform: translate(500px);
    }
}
.anim-cat {
    animation-name: anim-cat;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.cat:hover .cat-txt {display: block;}

.cat-txt {
    display: none;
    background: white;
    padding: 0%;
    border: solid 5px red;
    margin: -4rem;
    color: black;
    text-shadow: none;
    font-size: 3rem;
    left: 9rem;
    position: absolute;
    width: 25rem;
    font-family: "p_jeu", auto;
}

/* LIENS ET BOUTONS */
.hovrbl {filter: brightness(20%)}
.hovrbl:hover {filter: brightness(100%)}


/* HERO BANNER */
.cont_hero {
    position: relative;
    text-align: center;
    z-index: 0;
}
.hero_h1h2 {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 2%;
}
.hero_p {
    position: absolute;
    bottom: 0px;
    padding: 16px;
    text-align: left;
    max-width: 500px;
}
.hero_bg {
    object-fit: cover;
    width: 100%;
}

/* settings */
.set-container {
    position: relative;
    display: inline-block;
}

.set-cont {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 10px 3px black;
    top: -25rem;
    padding: 21%;
    gap: 20px;
    z-index: 1;
}

.set-btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: url("../../mouse_02.png"), auto;
}

.set-cont a:hover {background-color: #ddd;}
.set-container:hover .set-cont {display: flex;}




/* GAME */
.game_cont {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    position: absolute;
    bottom: 100px;
    right: 50px;
}
.game {
    display: none;
    font-family: 'p_jeu', cursive;
    position: sticky;
    top: 80%;
    z-index: 1;
    background-color: #222;
    width: 50%;
    text-align: center;
    padding: 16px;
    border-radius: 10px;
    border: 2px white solid;
}

.question1 {
    text-align: center;
    align-items: center;
    display: block;
    position: absolute;
    top: 35%;
    left: 10%;
}

.set-container:hover .set-cont {display: flex;}
.game_cont:hover .question1 {display: none;}

/* SECTIONS */
.section1 {
    text-align: left;
    background-color: #25291c;
}
.section2 {
    text-align: left;
    background-color: #918a74;
}

/* AVIS */
.avis {
    display: flex;
    flex-direction: column;
    padding: 4px;
    width: 25%;
    border: solid 2px white;
    box-shadow: 10px 10px 20px 10px black;
    background-color: #5e4524;
}

.avis-cont2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


/* TAILLE D'ELEMENT */
.s50p {width: 50%}
.s25p {width: 25%}
.s15p {width: 15%}
.s10p {width: 10%}
.s5p {width: 5%}
.s512 {width: 512px}
.s256 {width: 256px}
.s128 {width: 128px}
.s64 {width: 64px}
.s32 {width: 32px}
.s24 {width: 24px}


/* Palette CSS ARCADIA */
.palette {display: flex}
.p_e3e7d3 {background-color: #e3e7d3 /* BLANC  */}
.p_989c94 {background-color: #989c94 /* GRIS   */}
.p_e6e49f {background-color: #e6e49f /* JAUNE  */}
.p_80bf6d {background-color: #80bf6d /* VERT   */}


/* POLICE D'ECRITURE */
.fs64 {font-size: 64px}
.fs32 {font-size: 32px}
@font-face {
    font-family: p_defaut;
    src: url("../../p_defaut.ttf");
}
@font-face {
    font-family: p_jeu;
    src: url("../../p_jeu.ttf");
}
.f_jeu {
    font-family: "p_jeu", auto;
}
.f_defaut {
    font-family: "p_defaut", auto;
}

/* Mobile Version Media query CSS3 */
@media screen and (max-width: 600px) {
    .bg {
        height: 20rem;
    }
    .fs32 {
        font-size: 12px;
    }
    .fs64 {
        font-size: 20px;
    }
    .s64 {
        width: 32px;
    }
    .hero_p {
        display: flex;
        position: absolute;
        bottom: 0px;
        padding: 16px;
        text-align: left;
        max-width: 500px;
    }
    .set-cont {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #f1f1f1;
        box-shadow: 0px 0px 10px 3px black;
        top: -25rem;
        padding: 21%;
        gap: 20px;
        z-index: 1;
    }
}
@media screen and (min-width: 600px) {
    .bg {
        height: 25rem;
    }
    .fs32 {
        font-size: 20px;
    }
    .fs64 {
        font-size: 32px;
    }
    .s64 {
        width: 48px;
    }
    .set-cont {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #f1f1f1;
        box-shadow: 0px 0px 10px 3px black;
        top: -21rem;
        padding: 22%;
        gap: 40px;
        z-index: 1;
        left: 1rem;
    }
}
@media screen and (min-width: 1023px) {
    .bg {
        height: 50rem;
    }
    .fs32 {
        font-size: 32px;
    }
    .fs64 {
        font-size: 64px;
    }
    .hero_p {
        display: flex;
    }
    .s64 {
        width: 64px;
    }
    .set-cont {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #f1f1f1;
        box-shadow: 0px 0px 10px 3px black;
        top: -26rem;
        padding: 21%;
        gap: 20px;
        z-index: 1;
    }
}